.app-title.header-banner
  .title
    %editable{ 'key' => 'title' }

    %user.right.screen-only

  .subtitle
    %ul.inline
      %li
        %editable{ 'key' => 'subtitle' }
      %li{ 'ng-if' => 'id && path' }
        {{ path }}

    .link.right.round.screen-only{ 'ng-class' => '{ disabled: !signedIn }', 'ng-click' => 'print()', 'tooltip' => 'Print the current page' }
      %i.fa.fa-print
    .link.right.round.screen-only{ 'ng-class' => '{ disabled: !signedIn }', 'ng-click' => 'chooseFile()', 'tooltip' => 'Open the browse dialog to select a spreadsheet' }
      %i.fa.fa-folder-open
    .link.right.round.screen-only{ 'ng-class' => '{ disabled: !signedIn }', 'ng-click' => 'totalsView()', 'tooltip' => 'See the column totals for each worksheet' }
      %i.fa.fa-columns
    .link.right.round.screen-only{ 'ng-class' => '{ disabled: !signedIn }', 'ng-click' => 'goHome()', 'tooltip' => 'Go to the summary view' }
      %i.fa.fa-home

