.app-title.header-banner
  .title
    {{ report.title }}
  .subtitle
    %ul.inline
      %li
        {{ report.subtitle }}
      %li{ 'ng-repeat' => 'nested in report.nestedSubtitle' }
        {{ nested }}

    .link{ 'ng-click' => 'chooseFile()' }
      %i.fa.fa-folder
    .link{ 'ng-click' => 'print()' }
      %i.fa.fa-print

  %user
