.app-title.header-banner
  .title
    %editable{ 'key' => 'title' }

    %user.right.screen-only

  .subtitle
    %ul.inline
      %li
        %editable{ 'key' => 'subtitle' }
      %li{ 'ng-if' => 'id && path' }
        {{ path }}

    .link.right.round.screen-only{ 'ng-click' => 'print()' }
      %i.fa.fa-print
    .link.right.round.screen-only{ 'ng-click' => 'chooseFile()' }
      %i.fa.fa-folder
    .link.right.round.screen-only{ 'ng-click' => 'goHome()' }
      %i.fa.fa-home

