.details
  .link{ 'ng-click' => 'onClick($event)', 'ng-class' => '{ active: showDetails }' }
    {{ worksheet.name }}
  .worksheet{ 'ng-show' => 'showDetails' }
    .row{ 'ng-repeat' => 'column in worksheet.details' }<
      .header.column<
        %i.fa.fa-angle-right
        {{ column.name }}
      .value.column<
        {{ column.value }}
