%span.editable{ 'contenteditable' => '', 'ng-keydown' => 'onKeyDown($event)', 'ng-keyup' => 'onKeyUp($event)', 'ng-paste' => 'onPaste($event)', 'ng-focus' => 'onFocus($event)', 'ng-blur' => 'onBlur($event)' }
  {{ report[key] }}
