.row-report
  .worksheet{ 'ng-repeat' => 'sheet in rowReport' }
    .header<
      {{ sheet.name }}

    .row{ 'ng-repeat' => 'column in sheet.columns' }
      .header.column<
        %i.fa.fa-angle-right
        {{ column.name }}
      .value.column<
        {{ column.value }}
    
