.summary
  .table
    .header
      .row
        .value.column<
          {{ primaryHeader }}
        .value.column{ 'ng-repeat' => 'worksheet in spreadsheet.worksheets' }<
          %details

    .data
      .row{ 'ng-repeat' => 'summary in summaries', 'ng-click' => 'onClick(summary.name)' }
        .value.column<
          {{ summary.name }}
        .value.column{ 'ng-repeat' => 'total in summary.totals track by $index' }<
          {{ total }}
