.browse-drive-modal{ 'ng-if' => 'openModal' }
  .overlay
    .modal

      .heading.vertical

        %ul.menu
          %li
            .link{ 'ng-class' => '{ active : showDrive }' }
              Browse Drive
          %li
            .link{ 'ng-class' => '{ active: !showDrive }' }
              Recent

      .body
        .content
          %browse-drive
