<div class='app-title header-banner'>
  <div class='title'>
    {{ report.title }}
  </div>
  <div class='subtitle'>
    <ul class='inline'>
      <li>
        {{ report.subtitle }}
      </li>
      <li ng-repeat='nested in report.nestedSubtitle'>
        {{ nested }}
      </li>
    </ul>
    <div class='link' ng-click='chooseFile()'>
      <i class='fa fa-folder'></i>
    </div>
    <div class='link' ng-click='print()'>
      <i class='fa fa-print'></i>
    </div>
  </div>
  <user></user>
</div>
