<div class='app-title header-banner'>
  <div class='title'>
    <editable key='title'></editable>
    <user class='screen-only'></user>
  </div>
  <div class='subtitle'>
    <ul class='inline'>
      <li>
        <editable key='subtitle'></editable>
      </li>
      <li ng-if='id &amp;&amp; path'>
        {{ path }}
      </li>
    </ul>
    <div class='link screen-only' ng-click='print()'>
      <i class='fa fa-print'></i>
    </div>
    <div class='link screen-only' ng-click='chooseFile()'>
      <i class='fa fa-folder'></i>
    </div>
    <div class='link screen-only' ng-click='goHome()'>
      <i class='fa fa-home'></i>
    </div>
  </div>
</div>
