<div class='app-title header-banner'>
  <div class='title'>
    <editable key='title'></editable>
    <user class='right screen-only' tooltip='Logged in as...'></user>
  </div>
  <div class='subtitle'>
    <ul class='inline'>
      <li>
        <editable key='subtitle'></editable>
      </li>
      <li ng-if='id &amp;&amp; path'>
        {{ path }}
      </li>
    </ul>
    <div class='link right round screen-only' ng-click='print()' tooltip='Print the current page'>
      <i class='fa fa-print'></i>
    </div>
    <div class='link right round screen-only' ng-click='chooseFile()' tooltip='Open the browse dialog to select a spreadsheet'>
      <i class='fa fa-folder-open'></i>
    </div>
    <div class='link right round screen-only' ng-click='totalsView()' tooltip='See the column totals for each worksheet'>
      <i class='fa fa-columns'></i>
    </div>
    <div class='link right round screen-only' ng-click='goHome()' tooltip='Go to the summary view'>
      <i class='fa fa-home'></i>
    </div>
  </div>
</div>
