<div class='picker-modal' ng-if='openModal'>
  <div class='overlay'>
    <div class='modal'>
      <div class='title-bar'>
        Choose File
        <a class='dismiss' ng-click='dismiss()'></a>
      </div>
      <div class='pane'>
        <div class='menu-bar vertical'>
          <ul class='menu'>
            <li>
              <div class='link' ng-class='{ active: showDrive }' ng-click='onBrowse()'>
                Browse Drive
              </div>
            </li>
            <li>
              <div class='link' ng-class='{ active: !showDrive, disabled: !hasRecent }' ng-click='onRecent()'>
                Recent
              </div>
            </li>
          </ul>
        </div>
        <div class='body'>
          <div class='content'>
            <browse-drive ng-show='showDrive'></browse-drive>
            <div class='recent-files' ng-show='!showDrive'>
              <file ng-repeat='file in recentFiles'></file>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
