%html
  %head
    %title Report
    = css_include 'stylesheets/application.css'
  %body{ 'ng-app' => 'ReportGenerator' }
    %report-title

  = js_include 'vendor/angular/angular.min.js'
  = js_include_tree 'js'

