.folder
  padding: 8px 0px 2px 10px

.file
  padding: 6px 0px 2px 10px


.modal
  top: 120px
  width: 720px

  .pane
    height: 500px

  .menu
    float: left
    font-size: 1em
    .menu
      width: 180px

  .body
    height: 100%
    box-sizing: border-box
    overflow-y: scroll
    .content
      padding: 20px
      height: auto


