.header-banner
  width: 100%
  margin-bottom: 12px

  .title
    font-size: 2em
    font-weight: bold
    margin-bottom: 6px

  .subtitle
    font-size: 1.2em
    font-weight: bold
    margin-bottom: 12px

  .navigation
    font-style: italic
    font-size: 1.1em
    font-weight: bold
    margin-bottom: 2px

  .user
    position: absolute
    top: 0
    right: 0
    padding: 28px
    .icon
      width: 50px
      img
        border-radius: 50%
      .fa-user
        opacity: 0.5
        font-size: 46px
        text-align: center
        line-height: 50px
        width: 45px
  
