*
  margin: 0px
  padding: 0px

body
  font-family: 'Open Sans'
  cursor: default

.page
  .view-area
    @media screen
      margin: 40px

.link
  cursor: pointer
  padding-left: 8px
  color: gray

  &:not(.disabled):hover
    color: black

.vertical
  height: 100%
  vertical-align: top

.menu-bar
  background-color: #eee
  box-shadow: 2px 0px 0px #ccc

ul.inline
  &, li
    list-style-type: none
    display: inline

  li
    padding-left: 0px
    &:before
      content: ' | '
    &:first-child:before
      content: none

ul.menu
  display: inline-block
  table-layout: fixed

  &, li
    list-style-type: none

  li
    .link
      padding: 10px 20px 10px 20px
      overflow: hidden
      background-color: #99b
      color: #fff

      &:hover
        background-color: #88a
        color: #fff

      &.active
        background-color: #446

      &.active:hover
        background-color: #335
        

