= header
  font-size: 1em
  font-weight: bold
  padding-bottom: 6px
  margin-bottom: 12px
  border-bottom: 1px solid black

= table
  .row
    width: 100%
    white-space: nowrap
  .column
    display: inline-block

  ::selection
    background: #99b

.table
  +table
  .row
    overflow: hidden
    white-space: nowrap

  .column
    padding: 4px 10px 1px 6px
    width: 80px
    @media screen
      width: 120px

    & + .column
      text-align: right
      width: 90px
      @media screen
        width: 160px

  .header
    +header

  .data
    .row
      cursor: pointer
      width: 100%

      &:nth-of-type(odd)
        background-color: #efefef

      &:hover
        background-color: lightgray

.row-report
  @media screen
    padding-bottom: 10px

  .worksheet
    +table
    display: inline-block
    vertical-align: top
    width: 268px
    padding: 20px 48px 10px 10px
    @media screen
      width: 40%

    >.header
      +header

    .row
      margin: 6px 0px 0px 2px
      overflow: auto

      .header
        width: 68%
        margin-right: 8px
        overflow: hidden
        text-overflow: ellipsis

      .value
        width: 24%
        text-align: right

    .column
      vertical-align: top
