.folder{ 'ng-class' => '{ "open" : folder.open }', 'ng-show' => '!folder.empty' }
  .name.link{ 'ng-click' => 'onClick($event)' }
    %i.fa{ 'ng-class' => 'folder.open ? "fa-folder-open-o" : "fa-folder-o"'}
    {{ folder.name }}

  .contents{ 'ng-show' => 'folder.open' }
    %folder{ 'ng-repeat' => 'folder in folder.folders | orderBy : "name"' }
    %file{ 'ng-repeat' => 'file in folder.files | orderBy : "name"' }
