.picker-modal{ 'ng-if' => 'openModal' }
  .overlay
    .modal

      .title-bar
        Choose File
        %a.dismiss{ 'ng-click' => 'dismiss()' }

      .pane
        .menu-bar.vertical

          %ul.menu
            %li
              .link{ 'ng-class' => '{ active: showDrive }', 'ng-click' => 'onBrowse()' }
                Browse Drive
            %li
              .link{ 'ng-class' => '{ active: !showDrive, disabled: !hasRecent }', 'ng-click' => 'onRecent()' }
                Recent

        .body
          .content
            %browse-drive{ 'ng-show' => 'showDrive' }
            .recent-files{ 'ng-show' => '!showDrive'}
              %file{ 'ng-repeat' => 'file in recentFiles' }




