/* /home/ryan/github/meramec/report/app/stylesheets/browse.sass */
.folder {
  padding: 8px 0px 2px 10px; }

.file {
  padding: 6px 0px 2px 10px; }

.modal {
  top: 120px;
  width: 720px; }
  .modal .pane {
    height: 500px; }
  .modal .menu {
    float: left;
    font-size: 1em; }
    .modal .menu .menu {
      width: 180px; }
  .modal .body {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll; }
    .modal .body .content {
      padding: 20px;
      height: auto; }

/* /home/ryan/github/meramec/report/app/stylesheets/modal.sass */
@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .overlay .modal {
    animation: fadeIn 1s;
    background: white;
    padding: 0px;
    box-shadow: 4px 6px 12px #444444;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
    .overlay .modal .title-bar {
      padding: 8px;
      width: 100%;
      background-color: #444444;
      color: white;
      font-size: 0.9em;
      box-sizing: border-box; }
      .overlay .modal .title-bar a.dismiss {
        cursor: pointer;
        font-weight: bold;
        float: right;
        padding: 2px; }
        .overlay .modal .title-bar a.dismiss:before {
          content: "\00d7"; }

/* /home/ryan/github/meramec/report/app/stylesheets/header.sass */
.header-banner {
  width: 100%;
  margin-bottom: 12px; }
  .header-banner .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 6px; }
  .header-banner .subtitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 12px; }
  .header-banner .navigation {
    font-style: italic;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 2px; }
  .header-banner .user {
    position: absolute;
    top: 0;
    right: 0;
    padding: 28px; }
    .header-banner .user .icon {
      width: 50px; }
      .header-banner .user .icon img {
        border-radius: 50%; }
      .header-banner .user .icon .fa-user {
        opacity: 0.5;
        font-size: 46px;
        text-align: center;
        line-height: 50px;
        width: 45px; }

/* /home/ryan/github/meramec/report/app/stylesheets/report.sass */
.table .row {
  width: 100%;
  white-space: nowrap; }
.table .column {
  display: inline-block; }
.table .row {
  overflow: hidden;
  white-space: nowrap; }
.table .column {
  width: 120px;
  padding: 4px 10px 1px 6px; }
  .table .column + .column {
    text-align: right;
    width: 160px; }
.table .header {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 6px;
  margin-bottom: 12px;
  border-bottom: 1px solid black; }
.table .data .row {
  cursor: pointer;
  width: 100%; }
  .table .data .row:nth-of-type(odd) {
    background-color: #efefef; }
  .table .data .row:hover {
    background-color: lightgrey; }

.row-report {
  padding-bottom: 10px; }
  .row-report .worksheet {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 20px 48px 10px 10px; }
    .row-report .worksheet .row {
      width: 100%;
      white-space: nowrap; }
    .row-report .worksheet .column {
      display: inline-block; }
    .row-report .worksheet > .header {
      font-size: 1em;
      font-weight: bold;
      padding-bottom: 6px;
      margin-bottom: 12px;
      border-bottom: 1px solid black; }
    .row-report .worksheet .row {
      margin: 6px 0px 0px 2px;
      overflow: auto; }
      .row-report .worksheet .row .header {
        width: 68%;
        margin-right: 8px; }
      .row-report .worksheet .row .value {
        width: 24%;
        text-align: right; }
    .row-report .worksheet .column {
      vertical-align: top; }

/* /home/ryan/github/meramec/report/app/stylesheets/layout.sass */
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Open Sans"; }

.page {
  margin: 26px; }

.link {
  cursor: pointer;
  padding-left: 8px;
  color: gray; }
  .link:not(.disabled):hover {
    color: black; }

.vertical {
  height: 100%;
  vertical-align: top; }

.menu {
  background-color: #eeeeee;
  box-shadow: 2px 0px 0px #cccccc; }

ul.inline, ul.inline li {
  list-style-type: none;
  display: inline; }
ul.inline li {
  padding-left: 0px; }
  ul.inline li:before {
    content: " | "; }
  ul.inline li:first-child:before {
    content: none; }

ul.menu {
  display: inline-block;
  table-layout: fixed; }
  ul.menu, ul.menu li {
    list-style-type: none; }
  ul.menu li .link {
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    background-color: #8888aa;
    color: white; }
    ul.menu li .link:hover {
      background-color: #777799;
      color: white; }
    ul.menu li .link.active {
      background-color: #444488; }
    ul.menu li .link.active:hover {
      background-color: #333377; }

